#adpress {
    font-size: 12px;
    line-height: 20px;
    position: relative;
    margin: 0px;
    padding: 0px;
}

/*
{{ Typography }}
*/
#adpress h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/*
{{ Wrapper }}
*/
#wpwrap {
    background-image: url(../img/bodyBg.jpg);
    background-repeat: repeat;
}

#adpress.wrap {
    margin: 24px auto 0;
    width: 980px;
}

/*
{{ Buttons }}
*/
#adpress A.button-primary.green {
    background: url(../img/greenBtn.png) repeat-x 0 0;
    border: 1px solid #418D4F;
}

#adpress A.button-primary.green:hover {
    background-position: 0 -25px;
}

#adpress A.button-primary.green:active {
    background-position: 0 -50px;
}

#adpress A.button-primary.black {
    background: url(../img/blackBtn.png) repeat-x 0 0;
    border: 1px solid #353535;
}

#adpress A.button-primary.black:hover {
    background-position: 0 -25px;
}

#adpress A.button-primary.black:active {
    background-position: 0 -50px;
}

#adpress A.button-primary.sea {
    background: url(../img/seaBtn.png) repeat-x 0 0;
    border: 1px solid #306873;
}

#adpress A.button-primary.sea:hover {
    background-position: 0 -25px;
}

#adpress A.button-primary.sea:active {
    background-position: 0 -50px;
}

#adpress A.button-primary.red {
    background: url(../img/greenBtn.png) repeat-x 0 0;
    border: 1px solid #9D342A;
}

#adpress A.button-primary.red:hover {
    background-position: 0 -25px;
}

#adpress A.button-primary.red:active {
    background-position: 0 -50px;
}

#adpress A.button-primary.blue {
    background: url(../img/blueBtn.png) repeat-x 0 0;
    border: 1px solid #3581C1;
}

#adpress A.button-primary.blue:hover {
    background-position: 0 -25px;
}

#adpress A.button-primary.blue:active {
    background-position: 0 -50px;
}

#adpress .button-primary, #adpress INPUT.button-primary {
	height: 25px;
	line-height: 25px;
}
/*
{{ Tables }}
*/

#adpress table {

}

#adpress table thead {

}

#adpress table thead tr {

}

#adpress table thead th {
	/*
    font-family: 'Cuprum', Calibri;
    font-size: 16px;
	*/
}

#adpress table thead th.id-column {
	
}

#adpress table tfoot {

}

#adpress table tfoot tr {

}

#adpress table tfoot th {
	
}

#adpress table tfoot th.id-column {
	
}

#adpress table tbody {

}

#adpress table tbody tr {

}

#adpress table tbody.highlight_rows>tr:hover * {
    background-color: #feffd9;
}

#adpress table tbody th.id-column {
    vertical-align: middle;
    width: 1px;
}

#adpress table tbody td {
    vertical-align: middle;
}

#adpress table tbody td.buttons {
    vertical-align: top;
}

#adpress table.withbuttons tr {
    height: 36px;
}

/*
{{ Info Table }}
*/

#adpress table.info-table {
    margin: 0;
    float: left;
}

#adpress table.info-table tbody {

}

#adpress table.info-table tbody tr {
    margin: 0;
    padding: 0;
}

#adpress table.info-table tbody tr td {
    border: none;
    padding: 8px 10px;
    vertical-align: middle;
    margin: 0;
    border-spacing: 0;
}

#adpress table.info-table tbody tr td.title {
    font-size: 14px;
    color: #B55D5C;
    vertical-align: top;
}

/*
{{ Form Table }}
*/

#adpress table.form-table {
    margin: 8px 11px;
}

#adpress table.form-table tbody {

}

#adpress table.form-table tbody tr {

}

#adpress table.form-table tbody tr td {

}

#adpress table.form-table tbody tr td.title {

}

/*
{{ Forms }}
*/

#adpress input[type="text"], #adpress input[type="password"] {
    width: 250px;
}

#adpress textarea {
    border: 1px solid #D5D5D5;
	font-family: Consolas, monaco, monospace;
}

#adpress select {
    border: 1px solid #D5D5D5;
}

#adpress label {
	font-size: 12px;
	font-weight: normal;
}

.form-table th {
}

/*
{{ Blocks }}
*/
#adpress .c-block {
    background-color: #FAFAFA;
    margin-top: 0px;
    border: 1px solid #D5D5D5;
    margin-top: 25px;
    margin-bottom: 25px;
}

#adpress .c-block .c-head {
    /*background: #EFEFEF url(../img/c-header-bg.png) repeat-x;*/
    height: 38px;
    border-bottom: 1px solid #D5D5D5;
    position: relative;
}

#adpress .c-block .c-head h3 {
    padding: 9px 12px 9px 35px;
    margin: 0px;
}

#adpress .c-block .c-head .toolbar {
    float: left;
    margin: 0;
    padding: 0;
    height: 39px;
}

#adpress .c-block .c-head .toolbar li {
    display: inline-block;
    height: 31px;
    margin: 0;
    padding: 9px 0;
}

#adpress .c-block P {
    padding: 15px;
    font-size: 14px;
}

/*
{{ ICONS }}
*/
#adpress .icon32 {
    background-repeat: no-repeat; 
    display: block;
    height: 32px;
	width: 40px;
	float: left;
	background-size: 50%;
	background-position: center;
}

#adpress .icon32 + H2 {
	display: inline;
}

#adpress .icon32 + H2::after {
	content: "";
	display: block;
	clear: both;
}

#adpress-icon-campaigns {
    background-image: url(../img/icons/campaigns.png);
}

#adpress-icon-access {
    background-image: url(../img/icons/access.png);
}

#adpress-icon-addcampaign {
    background-image: url(../img/icons/addcampaign.png);
}

#adpress-icon-campaignsaved {
    background-image: url(../img/icons/campaignsaved.png);
}

#adpress-icon-history {
    background-image: url(../img/icons/history.png);
}

#adpress-icon-campaign_details {
    background-image: url(../img/icons/campaign_details.png);
    background-repeat: no-repeat;
    background-position: 12px 50%;
}

#adpress-icon-ad_designer {
    background-image: url(../img/icons/ad_designer.png);
    background-repeat: no-repeat;
    background-position: 12px 50%;
}

#adpress-icon-contract_details {
    background-image: url(../img/icons/contract_details.png);
    background-repeat: no-repeat;
    background-position: 12px 50%;
}

#adpress-icon-ad_preview {
    background-image: url(../img/icons/ad_preview.png);
    background-repeat: no-repeat;
    background-position: 12px 50%;
}

#adpress-icon-adsrequests {
    background-image: url(../img/icons/adsrequests.png);
}

#adpress-icon-runningads {
    background-image: url(../img/icons/runningads.png);
}

#adpress-icon-available {
    background-image: url(../img/icons/available.png);
}

#adpress-icon-purchase {
    background-image: url(../img/icons/purchase.png);
}

#adpress-icon-purchase_loader {
    background-image: url(../img/icons/loader.gif);
    background-repeat: no-repeat;
    background-position: 12px 50%;
}

#adpress-icon-request_sent {
    background-image: url(../img/icons/sent.png);
    background-repeat: no-repeat;
    background-position: 12px 50%;
}

#adpress-icon-flag {
    background-image: url(../img/icons/flag.png);
    background-repeat: no-repeat;
    background-position: 12px 50%;
}

#adpress-icon-debug {
    background-image: url(../img/icons/debug.png);
    background-repeat: no-repeat;
    background-position: 12px 50%;
}

#adpress-icon-purchases {
    background-image: url(../img/icons/purchases.png);
}

#adpress-icon-addons {
    background-image: url(../img/icons/addons.png);
}

#adpress-icon-settings {
    background-image: url(../img/icons/settings.png);
}

/*Info box*/
P.info
{
	padding: 12px;
	background-color: #F0F0F0;
}

#adminmenuback { z-index: 0 !important; }
