@import url(reset.css);
@font-face
{
	font-family: ChunkFive;
	src: url('../fonts/chunkfive/Chunkfive-webfont.eot');
	src: url('../fonts/chunkfive/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/chunkfive/Chunkfive-webfont.woff') format('woff'), url('../fonts/chunkfive/Chunkfive-webfont.ttf') format('truetype'), url('../fonts/chunkfive/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face
{
	font-family: Lucida;
	src: url('../fonts/lucida/lucida_grande-webfont.eot');
	src: url('../fonts/lucida/lucida_grande-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lucida/lucida_grande-webfont.woff') format('woff'), url('../fonts/lucida/lucida_grande-webfont.ttf') format('truetype'), url('../fonts/lucida/lucida_grande-webfont.svg#LucidaGrandeRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face
{
	font-family: Bebas;
	src: url('../fonts/bebas/BebasNeue-webfont.eot');
	src: url('../fonts/bebas/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bebas/BebasNeue-webfont.woff') format('woff'), url('../fonts/bebas/BebasNeue-webfont.ttf') format('truetype'), url('../fonts/bebas/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*
CSS Reset


Global style
*/
BODY
{
	font-family: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #000000;
	text-align: left;
	text-indent: 0;
	line-height: 1.5em;
	background: #FFFFFF;
	background-image: url(../img/bg.png);
}
/*Header*/
#header
{
	width: 960px;
	margin: 0 auto;
	background-color: #FFFFFF;
	padding-bottom: 0;
}
#header H1
{
	font-size: 50px;
	line-height: 1em;
	font-weight: bold;
	text-align: center;
	font-family: ChunkFive;
	background-color: #F16529;
	padding-top: 20px;
	padding-bottom: 30px;
	color: #FFFFFF;
	border-bottom: 20px solid #E44D26;
	margin: 0;
}
#header #bordertop
{
	margin-top: 15px;
}
#header #bordertop #info_bordertop
{
	border-right: 1px solid #EEE;
	float: left;
	width: 300px;
	margin: 0;
}
#header #bordertop #info_bordertop UL
{
	list-style: none outside;
}
#header #bordertop #info_bordertop UL LI
{
	height: 28px;
}
#header #bordertop #info_bordertop UL LI SPAN.note
{
	float: left;
	width: 65px;
	font-weight: bold;
}
#header #bordertop #info_bordertop UL LI SPAN.note_info
{
	float: right;
	width: 166px;
	margin: 0;
}
#header #bordertop #description_bordertop
{
	float: right;
	width: 600px;
	padding: 0 15px;
	margin: 0;
}
/*Summary*/
#summary
{
	width: 960px;
	margin: 0 auto 35px;
	background-color: #E4EDF7;
	border-top: 1px solid #C5D7EB;
	padding-bottom: 35px;
}
#summary H2
{
	font-size: 22px;
	margin: 0 0 15px;
	padding: 35px 0 0 65px;
	font-family: bebas;
}
#summary OL
{
	list-style: decimal inside;
	margin: 0 85px;
	padding: 0;
	color: #333;
	font-size: 19px;
}
#summary OL>OL
{
	margin-left: 15px;
}
/*Content*/
#content
{
	width: 960px;
	margin: 0 auto;
	background-color: #FFFFFF;
}
.section
{
	padding: 18px;
	font-size: 16px;
  font-family: Lucida, Calibri;
	color: #333;
}
.section IMG
{
  display: block;
  margin: 15px auto;
  width: 400px;
  border: 1px solid #E0E0DC;
}
.section P
{
	padding-bottom: 5px;
	padding-top: 5px;
	margin-bottom: 0;
	margin-top: 0;
}
.section H2
{
	color: #222;
	font-size: 1.7em;
	line-height: 1.29em;
	margin: 0.875em 0 0.3em;
	font-weight: bold;
	float: left;
	border-bottom: 1px solid #E0E0DC;
	width: 920px;
	font: 1em/1.286 Lucida;
}
.section H2:after
{
}
.section H3
{
	margin: 0;
	padding: 5px 0 3px;
}
.section OL
{
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.section OL LI
{
	padding-top: 3px;
	padding-bottom: 3px;
}
.section .top_link
{
	margin: 1.875em 0 0.3em 15px;
	float: left;
}
/*Footer*/
#footer
{
	background-image: url(../img/html5.png);
	height: 160px;
	width: 960px;
	margin: 0 auto;
	background-color: #020202;
	background-repeat: no-repeat;
	background-position: 50px;
}
#footer P:first-child
{
	padding-top: 25px;
}
#footer P
{
	color: #FFFFFF;
	font-family: Lucida;
	font-size: 11px;
	margin-left: 200px;
	padding-top: 7px;
	margin-bottom: 0;
	margin-right: 100px;
	margin-top: 0;
}
#footer P A
{
	color: #EB9F81;
}
#footer P A:hover
{
	color: #FFFFFF;
}
/*Links*/
A
{
	color: #369;
}
A:hover
{
	color: #25A;
	text-decoration: underline;
}
