/* View Order Details */
.inside {

}

.inside .admin-box {

}

.inside .admin-box .admin-box-inside {

}

.inside .admin-box .admin-box-inside .label {
	display: block;
}

.inside .admin-box .admin-box-inside SELECT, INPUT {
	display: block;
	width: 200px;
}

.inside .column-container {
	margin-top: 20px;
}

.inside .column-container .column {
	float: left;
	width: 400px;
	margin-bottom: 25px;
}

.inside .column-container .column-clear {
	clear: both;
}

.inside .column-container .column STRONG {
	display: block;
}

.inside .column-container .column INPUT {
	display: block;
	width: 300px;
}

/* Payments History Page */
