#fore-front {
	height: 500px;
}
#ex-chart {
	height: 438px !important;
}
.highcharts-container {
	background: url( ../img/sand.png );
}
#adpress-icon-analytics {
	background: url( ../img/analytics.png );
}
