h2.nav-tab-wrapper, h3.nav-tab-wrapper {
	margin-bottom: 12px;
}

#adpress-icon-payments_log {
	background-image: url(../img/payments_log.png);
}

#adpress-icon-payment_log {
	background-image: url(../img/payment_log.png);
}

#adpress-icon-ads_history {
	background-image: url(../img/ads_history.png);
}
